* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1500px;
  width: 100%;
  height: 100vh;

  background: rgb(30,33,64);
  background: radial-gradient(circle, rgba(30,33,64,1) 0%, rgba(64,73,121,1) 100%);

  padding: 0 2%;
  margin: 0 auto;
}

#theme {
    --main-green: #25d474;
    --main-blue: #2b6adf;
}

